notifications:
  pushover:
    api_key:
      secure: P9lAG3MOrVQLx5byKpPzCbwNQ9TQk0JiAETpD5ii/ZCTZ5stYt49xah4zWtyLeFEq2qPEX3chvIrWnFBu2kQ3Jga99br3VpE6Ttauy/IDksgYB/zk0WOIBPniLImpp4Mg86Hrb9ZWaefKzSVDYVTgafgTR+rRChoyUS1g0JpdKo8NoSf5kZyPNDTa24fbvmdNp0FIZLQAuzXMZk1jSUIiAtcd/CC2/FtEkma+111D8XCSegih5XNdQ0fv4/lU3u6/7oOZ1iP/FMt0Pj307H4YINgCGbiYg5VBWfyKydiUbXW7EEU/IMEU48dmarIhSfnEHKqJrp2EUsijTI7/+oBikso4yioZ6JgyOl+U4l8WZQZFdaC28l7R7g/wWuKbd250MFbFDzCQk8zv4IhrexVqvEvR5SAy3yDJOFbdEog6L3KRfQiAH3Aoirha24yMtUllbBH3zgGI+bOlZbQktMtt7ylpiyVXoknc/IMMMWNtip3lpDjeQVWDivaP55vm1jzyt348steszSRyGGEuWxzM663QbQH4bFXNd4roPKFD0OkUce5Qs5mNu3D2zC5JFldkm5Sb/iVZLhn9QLZUA1W9ymM6LNfq5nzHHlyapnl5brL/qd2Gx2ZaDthtqgxmX5SqTNlca50q4tl5sjUZs0aCnbCQlk2Dl3hIMu/iFlyBeo=
    users:
    - secure: aKTZmtTBnXRHncjKdrojCxGo32/3xRYbhcXDyGcRN4IL0RHUCgowRu2ty8+7ikYWjylNkFHeCMAj54127yIakUIobEGXQBR77SThyT9Iv5f8SNBPuEBTn7XONbMj8BQmpk4qSbVfNv7wLNhmKNYI1CbwMgjCiyrHv5GB9AddAqLynbce3EZI+Sv+Ve1RXky+VSdvc1MmctK4sbnIjmnGDMe1hru+YPbt4LjenX6jSFHMQ9xqbgaODvXYyWjOXT6IGucU8vOJg+vBPKvQDivUp83TigsZqCr9UwgOjdzSa9qNM7LGqJzlVLhefnU6CCtZn8bJTlDSVoRWEE7QaloVrWIybpVDWsbVv/r/6do0jvoArXjRRqPZojmbyFlt5OHDA7dr4P5+E7dAaqh1VPckIn5t/WjzX2SE3QASUtQnBfJ9BEl37ab69rM7RJHrRqLzxTw28F95bAYLxEudKAURL7Osyq8UMYZLTPDauUg0xqh/pLTwXtRNMgJk6SrC/t8DEysUXBfDnXL30C6S1Lcfhk9AGzb+5mSZlmZJQkUvnNG8dARY+1hMTh9joZyhqg+gJhMAwHWJk44iV64MyWGXcNtFdBA2zNTUSF2Lv18BCAj6mEYAkbyG8FWQkV/T44EeWitriDfG12LwSgfWI/Ijgu9fhD+YCaWfuRkA4tP3YcE=
    on_success: always
    on_failure: always
  email:
  - hello@rootlogin.ch

jobs:
  include:
  - language: go
    go: 1.11.x
    node_js: lts/*

    git:
      depth: false

    addons:
      sonarcloud:
        organization: chrootlogin-github
        token:
          secure: s9mgCpDUXgIs5o7ohsfobITrwVnuCziVrrsA4sSe5qlijfw3rmjCaGlqswErb9O/LRB4zSSJnzVFxjItNkiX3doA6FBXEHl5U2JC7ioMy0gXiBgFvLwSDg/CodSmQhNRwBdDgkwDRkrhW1ciY2lS8qd9N3fCaKlC4NlpfhF2/e0h6YGp1pOQNqC6t7NqBN9/2ZtVIFNt5cGDRkaIDVEL4lnBcwva/tMQf5mxMPgLg5pAueHO3CriO5zbuOySZhPpguC4wytVLzxNUZWi8j8TapnNjLOMho9R9UoWs0fe8yLLwbWTYZdAb9qhylhv/iskMD07m/Ewun/kN2FfU0n3FZsARqM2ByRyNnAdWbUp3i4m8D0Ge5gVk23HI8OmTdguU/1qzJ4SGgdDTpxAitTD81k5IaA0vmEJgK375QdGLa4sI569opyH83nldZzo33OpyoufxyZ3sqzCG6pS7heJGobEPRcHGWjwRiw/YK8Bex/LAfELjPbjpiWQ8ByKFNjkYrew0qmFnbF96YYNRmjxk0xHw4DDvikZ9I6GB6DntIztVWhgY/BcRvBFCfEaaFANOswANFEvrx0QbeTlO25qHWVVxyubb0IotM8toR1DIeA5rlSaWty4J23mr3ZIPZeKI+VwWzb/itmMZ2van9zKW+hMtztiw1V5RyL4C/aEOQk=

    cache:
      directories:
      - vendor

    before_script:
    - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh

    install:
    - # skip

    script:
    - make deps
    - go test -json -coverprofile=coverage.out ./... > test-report.out
    - sonar-scanner
    - make go_app